@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style */
    .display-flex{
        display: flex;
    }

    .text-primary{
        color: #FF900E;
    }
    .text-gray{
        color: #424242;
    }
    .text-light-gray{
        color: #727272;
    }
    .bg-color{
        background-color: rgba(255, 144, 14, 0.1);
    }

    .btn-primary{
        background-color: #FF900E;
        color: white;
        font-size: 1.25rem;
        padding: 20px 25px;
        border: none;
        border-radius: 8px;
    }

    main > section{
        max-width: 1440px;
        margin: 0 auto;
        margin-top: 85px;
    }

    .section-title{
        font-size: 2.5rem;
        font-weight: 700;
    }

    .section-description{
        margin: 25px 0;
    }
    .text-center{
        text-align: center;
    }

/* Header style */
    .nav-bar, .banner {
        max-width: 1440px;
        margin: 0 auto;
    }

/* Navbar style */
    .nav-bar{
        align-items: center;
        justify-content: space-between;
    }
    .nav-item{
        list-style: none;
        margin: 30px;
    }
    .nav-link{
        text-decoration: none;
        font width: 500;
    }
/* Banner Style */
    .banner-container{
        text-align: center;
        max-width: 865px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .banner-title{
        font-size: 4rem;
        font-weight: 700;
    }

    .banner-description{
        padding-bottom: 20px;
    }

    .banner-image{
        max-width: 100%;
    }

/* Team section style */

.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px; 
}
.team-features{
    align-content: center;
    margin-left: 75px;
}

.Quick-list{
    font-weight: 400;
}
/* Features Enjoy style */

.features-injoy{
    gap: 100px;
}

#section-border{
    border-left: 10px solid #FF900E;
    padding: 20px;
}

.fcard-title{
    font-size: 1.25rem;
    font-weight: 700;
}

.fcard-description{
    font-size: 1rem;
    font-weight: 400px;
}

.features-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}


#exp-badge{
    padding: 40px;
}
.btn-title{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 100px;
}

.btn-description{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px;
}
/* Fact Section Style */

.fact-cards{
    justify-content: space-around;
    margin: 100px 0;
}
.fact-card{
    border: 2px solid #FF900E;
    border-radius: 8px;
    padding: 50px 50px;
    flex-direction: column;
    align-items: center;
    color: #424242;
}

.fact-value{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px;
}

.fact-description{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 2px;
}

.sponsors-images{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
}

.copyright{
    background-color: antiquewhite;
    max-width: 1440px;
    text-align: center;
    font-size: 1.25rem;
    padding: 50px;
    margin: 0 auto;
    margin-top: 100px;
}





/* Responsive for mobile device */
    @media screen and (max-width: 576px) {
    .nav-bar, 
    .nav-links,
    .teams,
    .fact-cards,
    .sponsors-images{
        flex-direction: column; 
    }
    .team-images,
    .sponsors-images{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px; 
        justify-items: center;
    }

    .team-features{
        margin-top: 20px;
        align-content: center;
        margin-left: 10px;
    }

    .fact-cards{
        gap: 25px;
    }
}





/* Responsive for Tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column; 
    }
    .team-features{
        margin: 50px auto;
    }

    .fact-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
       
    }

    .fact-card[
        justify-items: center;
    ]
}